html,
body {
  position: relative;

  overflow: hidden;

  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

* {
  box-sizing: border-box;
  margin: 0;
  outline: none;

  font-family: 'neue-haas-grotesk-text';
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;

  cursor: crosshair;
}

img {
  width: 20px;
}

p {
  font-size: .75rem;
  line-height: .875rem;
}

ol {
  padding: 0 0 0 1.125rem;

  li {
    margin: 0 0 .875rem;

    font-size: .75rem;
    line-height: .875rem;
  }
}
