h1 {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  z-index: 1;

  font-size: 1rem;
  text-transform: uppercase;

  transition: transform 3s ease-in-out;
  
  .isEntered & {
    transition: transform 2s ease-in-out;
  }
}