h1 {
  transform: translateY(calc(50vh - 50%));

  .isEntered & {
    transform: translateY(.25rem);
  }
}

main {
  display: flex;
  flex-direction: column;
  // align-items: end;
  align-items: center;
  justify-content: end;
  height: 100%;
  position: relative;
  z-index: 9;
  pointer-events: none;
  padding: 0.5rem;
}

section {
  // width: 15vw;
  width: 80vw;
  text-align: center;
}