.project {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  justify-content: space-between;
  padding: .25rem .5rem;
  pointer-events: none;
  display: flex;
  opacity: 0;

  transition: opacity .2s ease-in-out;

  & > * {
  }
  
  &.isOpen {
    opacity: 1;
  }

  &__title {
  }

  &__placement {
    &::before {
      content: 'Placement [ ';
    }
    
    &::after {
      content: ' ]';
    }
  }

  &__difficulty {
    &::before {
      content: 'Complexity [ ';
    }

    &::after {
      content: '/10 ]';
    }
  }
  
  &__materials {
    &::before {
      content: 'Materials [ ';
    }

    &::after {
      content: ' ]';
    }
  }
}