html {
  background-color: #000000;
}

body {
  display: flex;

  justify-content: center;
  align-items: center;

  background-color: #000000;
}

main#projection {
  position: relative;

  width: 100vmin;
  height: 100vmin;
}

h1 {
  transform: translateY(calc(50vmin - 50%));

  color: #ffffff;

  .isEntered & {
    transform: translateY(10vmin);
  }
}

#activateMedia {
  position: absolute;
  z-index: 999999;
  top: 0;
  left: 0;
}

.mask {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;

  overflow: visible;

  .circle {
    position: absolute;

    border-radius: 50%;

    background-color: #000000;

    box-shadow: 0 0 20px 10px black;

    &:nth-child(1) {
      transform: translate(-177vmin, 0) translate(-50%, -50%);

      width: 267vmin;
      height: 307vmin;
    }

    &:nth-child(2) {
      transform: translate(164vmin, 0) translate(-50%, -50%);

      width: 245vmin;
      height: 272vmin;
    }

    &:nth-child(3) {
      transform: translate(0, -183vmin) translate(-50%, -50%);

      width: 392vmin;
      height: 278vmin;
    }

    &:nth-child(4) {
      transform: translate(0, 177vmin) translate(-50%, -50%);

      width: 324vmin;
      height: 265vmin;
    }
  }
}
