#satelliteWindow {
  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#satellite {
  width: 100%;
  height: 100%;
  // transform: scale(10) translate(3.8%, 14.2%);
  // animation: zooom 2s ease-in-out infinite alternate;
  transform: scale(1) translate3D(0, 0, 0);
  transition: transform 2s ease-in-out, opacity 2s ease-in-out;
  will-change: transform;
  opacity: 0;
  
  .isEntered & {
    transform: scale(1.5) translate3D(0, 0, 0);
    opacity: 1;
  }
}

@keyframes zooom {
  0% {
    transform: scale(10) translate3D(3.8%, 14.2%);
  }
  100% {
    transform: scale(10) translate(-4.9%, -16.6%);
  }
}
#toOne, #toZero {
  display: none;
}

#overlay {
  position: absolute;
  z-index: 999999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}