.project {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  // opacity: 0;
  pointer-events: none;
  display: flex;
  transition: opacity 1s ease-in-out;
  pointer-events: none;
  filter: grayscale(100%);


  * {
  }

  
  &__window {
    position: absolute;
    top: 50%;
    left: 50%;  
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
    
    .isOpen & {
      width: 30vmin;
      height: 40vmin;
    }
  }

  &__video {
    // position: absolute;
    // top: 50%;
    // left: 50%;

    width: 45vmin;
    height: 45vmin;
    // transform: translate(-50%, -50%);
    
    .isOpen & {
    }
  }
}
